<div class="welcome">
<p class="button-div">
    <%= link_to '<button type="button" class="btn btn-default buttons">Customer Details</button>'.html_safe, customers_path %>
    <%= link_to '<button type="button" class="btn btn-default buttons">Room list</button>'.html_safe, rooms_path %>
</p>
</div>