<h1>Editing Checkin</h1>

<%= render 'form', checkin: @checkin %>

<%= link_to '<button type="button" class="btn btn-default">Show</button>'.html_safe, @checkin %> | 
<%= link_to '<button type="button" class="btn btn-default">Back</button>'.html_safe, checkins_path %>